.chat-main
  .main-header
    .main-header-leftbox
      .main-header-leftbox__currentgroup
        = @group.name
      .main-header-leftbox__memberlist
        Member : 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main-header-editbtn
      = link_to edit_group_path(@group) , class: 'main-header-editbtn__box' do
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__text', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__send'