.chat-side
  .side-header
    .side-header-box
      .side-header-box__user
        = current_user.name
      .side-header-box__menu
        .side-header-box__menu__edit
          -#   %i.fa.fa-edit
          = link_to new_group_path do
            %i.fa.fa-edit
        .side-header-box__menu__setting
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .group
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。